
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
} 
/* #region Header - Start */


/* #region - Logo Start */
.logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px ;
    padding: 24px 0;
}

.logo-text {
    color: #2E2F42;
    line-height: 1.17;
    font-weight: 700;
    
}

/* #endregion - Logo End */

.header-menu {
    border-bottom: 1px solid #e7e9fc;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
display: block;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
text-decoration: none;
padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.webstudio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion Header - Completed */


/* #region Section 1 Your-business - Start */

.container-your-business {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.container-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.business-solution {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    color: #ffffff;
    font-weight: 700;
}

/* #region - button - Start */

.btn {
    display: block;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px;
    
}

.business-button:hover,.business-button:focus  {
    background-color: #404BBF;
    }



/* #endregion - button - End */
/* #endregion Section 1 - Completed */


/* #region Section 2 - Characteristics - Start */

.container-characteristics {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}


.menu-list {
    background-color: #FFFFFF;
}

.feature {
    width: calc((100% - 72px) / 4);
}

.feature-menu {
    display: flex;
    gap: 24px;
}

 .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
 }

  .feature-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
  }

.our-team-list {
    list-style: none;
}



 .team-card {
     background-color: #FFFFFF;
 }



/* #endregion Section 2 - Completed */


/* #region Section 3 - Our-Team - Start */

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
}

.our-team-list li:first-child {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.section-title {
    background-color: #F4F4FD;
    text-align: center;
    margin-bottom: 72px;
}


.our-team-list {
    display: flex;
    gap: 24px;
    }

.img-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.img-list {
background-color: #FFFFFF;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
border-radius: 0px 0px 4px 4px;
}

.img-padd {
        padding: 32px 0;
}

.img-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}

/* #endregion Section - 3 - Completed */

/* #region Section 4 - Portfolio - Start */

.our-portfolio {
    padding: 120px 0;
}

.portfolio-item:first-child {
    width: calc((100% - 48px) / 3);
}


.portfolio-heading {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #434455;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.container-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



/* #endregion Section 3 -Completed end */


 
 /* #region Footer - Start */

 .footer-info {
    background-color: #2e2f42;
    padding: 100px 0;
 }


 .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
 }

 .footer-studio {
    color: #f4f4fd;
 }

 .footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
    max-width: 264px;
 }

 /* #endregion Footer - Completed */






